---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/astro/BaseHead.astro";
import Footer from "../components/astro/Footer.astro";
import FormattedDate from "../components/astro/FormattedDate.astro";
import Header from "../components/vue/Header.vue";
import ReadingProgress from "../components/vue/ReadingProgress.vue";
import TableOfContents from "../components/vue/blog/TableOfContents.vue";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<ReadingProgress client:idle />
		<Header client:load currentPath={Astro.url.pathname} />
		<main class="w-full m-0">
			<article>
				<div
					class="flex flex-col lg:flex-row max-w-[1400px] mx-auto mt-8 items-start px-6"
				>
					<TableOfContents client:idle />
					<div
						class="prose flex-1 min-w-0 max-w-[1000px] m-0 p-0 text-[rgb(var(--gray-dark))]"
					>
						<div class="w-full mb-8">
							{
								heroImage && (
									<Image
										width={1020}
										height={510}
										src={heroImage}
										alt=""
										class="block mx-auto rounded-xl shadow-[0_2px_6px_rgba(var(--gray),25%),0_8px_24px_rgba(var(--gray),33%),0_16px_32px_rgba(var(--gray),33%)] w-full h-auto"
									/>
								)
							}
						</div>
						<div class="mb-4 py-4 text-center leading-none">
							<div class="mb-2 text-[rgb(var(--gray))]">
								<FormattedDate date={pubDate} />
								{
									updatedDate && (
										<div class="italic">
											Last updated on{" "}
											<FormattedDate date={updatedDate} />
										</div>
									)
								}
							</div>
							<h1 class="m-0 mb-2">{title}</h1>
							<hr />
						</div>
						<slot />
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
